// colors
//$colorMain: #191a33;
$colorMain: white;
$colorAccent: #ed1b24;
$colorDarkerAccent: #aa0000;
$colorText: #0e132a;
$colorSecondary: #00235b;
$colorFooter: #070b11;
$colorTextFooter: #868c98;
$colorTextFooterLighter: #acb3cc;
// colors
// fonts
$teko: 'Teko', sans-serif;
$roboto: 'RobotoRegular', sans-serif;
$robotoBold: 'RobotoBold', sans-serif;
$robotoLight: 'RobotoLight', sans-serif;
// fonts
$bgHeader: rgba(25,26,51,0.7);